// .chatGPT-container {
//   background-color: rgb(30, 30, 30);
// }
.cs-main-container {
  position: relative;
  background-color: #222;
  height: 100%;
  border: none;

  .cs-chat-container {
    background-color: transparent;
    .cs-message-list {
      background-color: #111;

      .cs-message-list__scroll-wrapper > .cs-message,
      .cs-message-list__scroll-wrapper > .cs-message-group {
        max-width: 100%;

        .cs-message__content-wrapper {
          width: 100%;
          height: 100%;
          background-color: transparent;
        }
      }
      .scrollbar-container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        // .cs-message--outgoing {
        //   color: white;
        //   .cs-message__content {
        //     border-radius: 5px;
        //   }
        // }
        // .cs-message--incoming {
        //   .cs-message__content {
        //     border-radius: 5px;
        //   }
        // }
        .message-header {
          color: white;
        }
      }
    }
  }
}
.cs-message--outgoing {
  margin: 0;
  padding: 0;
  width: 100%;
  .cs-message__content {
    background-color: #141414;
    color: white;
    border-radius: 5px;
  }
}

.cs-message--incoming {
  margin: 0;
  padding: 0;
  width: 100%;
  .cs-message__content {
    background-color: #141414;
    color: white;
    border-radius: 5px;
  }
}
